@model CharacterViewModel[]
@{
    ViewData["Title"] = "Welcome to the game";
}

<!DOCTYPE html>
<html>
<head>
    <title>Character Details</title>
</head>
<body>
<h1>Character Details</h1>
<form method="post" action="/Home/HandleButtonClick">
    
    @foreach (var character in Model)
    {
        <button name="selectedCharacter" value="@character.Views">@character.Name</button>
    }
</form>

  
</body>
</html>
